<nav>
  <a class="home" href="#home">
    <img class="logo" src="../../assets/img/logo.png" alt="Site logo">
    <h2>Matheus Barbosa</h2>
  </a>
  <div>
    <a href="#about"><h2 class="info-menu">{{ 'about' | translate }}</h2></a>
    <a href="#contact"><h2 class="info-menu">{{ 'contact' | translate }}</h2></a>
    <form [formGroup]="lang" class="translation-area">
      <img class="flag" src="../../assets/img/Brazil.jpg" alt="Brazil flag">
      <tui-toggle
        formControlName="langEN"
        [showIcons]="false"
        [singleColor]="true"></tui-toggle>
      <img class="flag" src="../../assets/img/United_States.jpg" alt="USA flag">
    </form>
  </div>
</nav>

<main id="home" class="container">
  <div style="margin-top: 64px;"></div>

  <section>
    <div class="hello">
      <div>{{ 'hello' | translate }} <strong>Barbosa</strong> -- {{ 'stack' | translate }}</div>
      <img class="profile-photo" src="../../assets/img/profile.jfif" alt="Profile photo">
    </div>

    <div class="social">
      <a href="https://www.github.com/WhoisBsa" class="item">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/whoisbsa/" class="item">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://www.x.com/mxtheusbs" class="item">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a href="https://www.instagram.com/mxtheusbs/" class="item">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
  </section>

  <div id="about"></div>

  <section>
    <div class="about-area">
      <div>{{ 'about1' | translate }}</div>
      <div>{{ 'about2' | translate }}</div>
      <div>{{ 'about3' | translate }}</div>
      <div>{{ 'about4' | translate }}</div>
    </div>
  </section>

  <div id="contact"></div>

  <div class="contact">
    <form [formGroup]="contact">
      <h2>{{ 'letsBuild' | translate }}</h2>
      <tui-input
        formControlName="name">
        {{ 'name' | translate }}
        <input
          placeholder="{{ 'infoName' | translate }}"
          tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>

      <tui-input
        formControlName="email">
        {{ 'email' | translate }}
        <input
          placeholder="{{ 'infoEmail' | translate }}"
          tuiTextfield />
        <span class="tui-required"></span>
      </tui-input>

      <tui-textarea
        formControlName="message"
        [expandable]="true">
        {{ 'message' | translate }}
      </tui-textarea>

      <button
        appearance="flat"
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3">
        {{ 'send' | translate }}
      </button>
    </form>
  </div>
</main>
